[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-login = "*"
flask-wtf = "*"
dynaconf = "*"
toml = "*"
htmlmin = "*"
gunicorn = "*"
flask-injector = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-restful = "*"
py2neo = {git = "https://github.com/technige/py2neo.git"}
pytest = "*"
autopep8 = "*"
pytest-cov = "*"
autoflake = "*"
requests = "*"
coverage = "*"
apscheduler = "*"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "<2.0.0"
