[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-mail = "*"
flask-login = "*"
passlib = "*"
flask-wtf = "*"
dynaconf = "*"
toml = "*"
pymysql = "*"
htmlmin = "*"
kombu = "*"
gunicorn = "*"
flask-injector = "*"
flask-jwt-extended = "*"
flask-cors = "*"
flask-restful = "*"
maya = "*"
py2neo = {git = "https://github.com/technige/py2neo.git"}
pytest = "*"
"autopep8" = "*"
pytest-cov = "*"
autoflake = "*"
requests = "*"
pendulum = "*"

[requires]
python_version = "3.6"

[dev-packages]
pylint = "<2.0.0"
